body {
	font-family: 'Ubuntu', sans-serif;
	color: #d7d7d7;
	background: #383838 url('img/bg-texture.jpg') repeat;
}

.jumbotron {
	background: none;
	padding-bottom: 0.1em;
	padding-top: 0.3em;
	margin: 0 0 0 0;
}

.banner_link {
	color: #d7d7d7;
}

.banner_link:hover {
	color: #d7d7d7;
	text-decoration: none;
}

a {
	color: #729fcf;
	text-decoration: none;
}

h1 {
	text-align: center;
	padding: 25px 0 15px 0;
	font-size: 3.0em;
	color: #d7d7d7;
}

h2 {
	font-size: 2.0em;
	color: #772953;
}

h3 {
	font-size: 1.10em;
	color: #797d79;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.nav {
	width: 100%;
	text-align: center;
	padding-bottom: 1.1em;
} 

ul.nav a {
	color: #d7d7d7;
	background: #729fcf;
}

ul.nav a:hover {
	color: #729fcf;
	background-color: #d7d7d7;
}

#active_page {
	color: #729fcf;
	background-color: #d7d7d7;;
}

ul.nav li {
	float: none;
	display: inline-block;
	margin-right: 60px;
	
}

#about_me_pic img{
	border: 8px solid #2a2a2a;
	border-radius: 5px;
}

.about_me_txt {
	background-color: #2a2a2a;
	border-radius: 5px;
	padding: 0.5em;
	margin: 1.1em;
}

.about_desc {
	color: #797d79;
}


.panel-default {
	color: #d7d7d7;
	background-color: #2a2a2a;
	border: none;
}

#resume {
	color: #d7d7d7;
	background-color: #2a2a2a;
	text-align: center;
}

#cv {
	color: #d7d7d7;
	background-color: #2a2a2a;
	text-align: center;
}

#contact_img img {
	border: 8px solid #2a2a2a;
	border-radius: 5px;
}

#contact_txt {
	background: #2a2a2a;
	border-radius: 5px;
}

#web_link_box {
	background: #2a2a2a;
	border-radius: 5px;
}

#weblink_header {
	text-align: center;
}