
body {
  font-family: 'Ubuntu', sans-serif;
	color: $primary-text-color;
  background: $primary-color;
}

.jumbotron {
  text-align: center;
  background: none;
  padding-bottom: 5em;
	padding-top: 5em;
	margin: 0 0 0 0;
  .banner_link {
    color: $primary-text-color;
    &:hover {
        color: $primary-text-color;
        text-decoration: none;
    }
  }
}

.navbar-lalejini {
  @extend .navbar-default;
  background-color: darken($primary-color, 5);
  border: none;

}

.navbar-default .navbar-nav > li > a, .navbar-lalejini .navbar-nav > li > a {
  color: $secondary-color;
  &:hover {
    color: darken($secondary-color, 10);
  }
}


// This makes nav-justified play nicely
.navbar-nav.nav-justified > li {
    float:none;

}


.well {
  @extend .well;
	background-color: darken($primary-color, 7);
  border: none;
}

.panel-lalejini {
  @extend .panel-default;
  background-color: darken($primary-color, 5);
  border-color: lighten($tertiary-color, 10);
  margin-right: 25px;
  .panel-heading {
    background-color: darken($primary-color, 5);
    border-color: lighten($tertiary-color, 10);
    a {
      text-decoration: none;
    }
  }

  dl {
    dt {
      color: lighten($secondary-color, 10);
      a {
        color: lighten($secondary-color, 10);
      }
    }
    dd {
      color: darken($primary-text-color, 20);
    }
  }

  .biotext {
    margin-bottom: 20px;
    color: darken($primary-text-color, 20);
  }

  .cv-btn {
    background: none;
    padding: 0 0 0 0;
    color: lighten($secondary-color, 10);
    &:hover {
      color: $secondary-color;
    }
  }

}

.img-default {
  img {
    border: 8px solid darken($primary-color, 7);
  	border-radius: 5px;
  }
}

h1 {
  color: $primary-text-color;
}

h2 {
	color: lighten($tertiary-color, 10);
}

h3 {
	color: $secondary-color;
}
