// ==================================
// Color Palette
// ==================================
$primary-color: #333333;
$secondary-color: #0077B8;
$tertiary-color: #77216F;
$primary-text-color: lighten($primary-color, 65);
// ==================================
