// ==================================
// Color Palette
// ==================================
$primary-color: #383838;
$secondary-color: #729fcf;
$tertiary-color: #772953;
$primary-text-color: lighten($primary-color, 65);

// ==================================
