<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125333025-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125333025-1');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Link in our stylesheets -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <title>
    {% if page.title_override %}
      {{ page.title_override | escape }}
    {% elsif page.title %}
      {{ page.title | escape }} | {{ site.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>
</head>