
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  
  <div class="container">

  
  <a class="navbar-brand" href="{{ site.baseurl }}/"> 
    {{ site.title }} 
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
    {% for item in site.data.nav %}  
      <!-- {% assign heretitle = page.title | downcase %} -->
      <li class="nav-item">
        <a class="nav-link {% if page.title == item.title %} active {% endif %}" href="{{ item.href | relative_url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

  </div>
</nav>