---
---

// $fa-font-path:        "../webfonts";

@import "bootstrap/bootstrap.scss";
// @import "fontawesome/fontawesome.scss";
// @import "fontawesome/solid.scss";
// @import "fontawesome/light.scss";
// @import "fontawesome/regular.scss";
// @import "fontawesome/brands.scss";

blockquote {
  border-left: 4px solid gray("300");
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
