---
---

@import "bootstrap/bootstrap.scss";
@import "codeblocks.scss";

$spacing-unit:     30px;

blockquote {
  border-left: 4px solid gray("300");
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/*
 *  toc-anchor
 */
 .toc-anchor {
  &:hover {
    text-decoration: none;
  }
}