//////////////////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////////////////
$canvas-color: lighten($primary-color, 85);

$C0000-color: lighten(black, 30);
$C0101-color: saturate(cyan, 100);
$C1010-color: saturate(darken(blue, 10), 100);
$C1111-color: white;

$C0001-color: saturate(lighten(#5A2668, 5), 100);
$C1000-color: saturate(lighten(#734CB9, 20), 100);
$C1011-color: saturate(#D793EA, 100);
$C1101-color: saturate(darken(mix(#928ADD, violet, 20), 15), 100);

$C1001-color: saturate(lighten(green, 25), 100);

$C0010-color: #ff6854;
$C0100-color: #ff6854;
$C0111-color: #ff6854;
$C1110-color: #ff6854;

$C0110-color: darken(red, 10);


$C1100-color: lighten(grey, 30);
$C0011-color: lighten(grey, 30);

//////////////////////////////////////////////////////////////
// Visualization
//////////////////////////////////////////////////////////////


.t-tip {
  background-color: $primary-color;
  color: $primary-text-color;
  padding: 7px;
  table, th, td {
    border: 1px solid $primary-text-color;
    text-align: center;
    padding: 3px;

  }
}

.state_block {
  position: relative;
  z-index: 1;
  stroke: black;
  &:hover {
    stroke-width: 3px;
    z-index: 100;
  }
}

.env_block {
  @extend .state_block;
  &:hover {
    stroke-width: 3px;
    z-index:100;
  }
}

.lineage_filter_options {
  float: none;
  margin: 0 auto;
  padding-top: 5px;
  input {
    margin: 0 10px 0 10px;
  }
}

#chart_area {
  background-color: $canvas-color;
}


.axis {
  path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  text {
    font-family: sans-serif;
    font-size: 18px;
  }
}

.env_canvas {
  .nandpnotm {
    @extend .env_block;
    fill: lighten($C1010-color, 5);
  }
  .nandmnotp {
    @extend .env_block;
    fill: lighten($C0101-color, 5);
  }
  .nandpnotp {
    @extend .env_block;
    fill: mix($C1010-color, $C0101-color);
  }
}

.line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.nandpnotm_line {
  @extend .line;
  stroke: red;
  opacity: 0.5;
}
.nandmnotp_line {
  @extend .line;
  stroke: blue;
  opacity: 0.5;
}

.C0000 {
  @extend .state_block;
  fill: $C0000-color;
}
.C0001 {
  @extend .state_block;
  fill: $C0001-color;
}
.C0010 {
  @extend .state_block;
  fill: $C0010-color;
}
.C0011 {
  @extend .state_block;
  fill: $C0011-color;
}
.C0100 {
  @extend .state_block;
  fill: $C0100-color;
}
.C0101 {
  @extend .state_block;
  fill: $C0101-color;
}
.C0110 {
  @extend .state_block;
  fill: $C0110-color;
}
.C0111 {
  @extend .state_block;
  fill: $C0111-color;
}
.C1000 {
  @extend .state_block;
  fill: $C1000-color;
}
.C1001 {
  @extend .state_block;
  fill: $C1001-color;
}
.C1010 {
  @extend .state_block;
  fill: $C1010-color;
}
.C1011 {
  @extend .state_block;
  fill: $C1011-color;
}
.C1100 {
  @extend .state_block;
  fill: $C1100-color;
}
.C1101 {
  @extend .state_block;
  fill: $C1101-color;
}
.C1110 {
  @extend .state_block;
  fill: $C1110-color;
}
.C1111 {
  @extend .state_block;
  fill: $C1111-color;
}

.x_axis {
  @extend .axis;
}

.y_axis {
  @extend .axis;
}
