
.pub_list {
  .list-group {
    .list-group-item {
      background-color: lighten($primary-text-color, 5);
      color: darken($primary-color, 10);
      border-color:darken($primary-text-color, 15);
      &:hover {
        background-color: darken($primary-text-color, 15);
      }
    }
  }
}
