---
layout: default
---

<div class="container">

  <div class="row mt-3"> <!-- This row contains the about me blurb w/a picture. -->

    <div class="col-8"> <!-- About me blurb -->
      <div class="card border-0">
        <div class="card-body">
          <div class="card-block px-2">
            <h4 class="card-title">About Me</h4>
            <p class="card-text">
              {{ page.about_me | markdownify }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4"> <!-- Image of me -->
      <figure class="figure">
        <img src="{{ page.about_me_img | relative_url }}" class="figure-img img-fluid rounded" alt="Picture of me!">
        <figcaption class="figure-caption text-right">
          <small>
            {{ page.about_me_img_caption | markdownify }}
          </small>
        </figcaption>
      </figure>
    </div>

  </div> <!-- end row -->
  
</div>