---
layout: default
---

<!-- CV header and quick nav (via pretty icon links) -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Curriculum Vitae</h1>
    <a href="#cv-education">{{ site.data.icons.cv_edu_icon }}</a> |
    <a href="#cv-research">{{ site.data.icons.cv_research_icon }}</a> |
    <a href="#cv-publications">{{ site.data.icons.cv_publications_icon }}</a> |
    <a href="#cv-presentations">{{ site.data.icons.cv_presentations_icons }}</a> |
    <a href="#cv-workshops">{{ site.data.icons.cv_workshop_icon }}</a> |
    <a href="#cv-teaching">{{ site.data.icons.cv_teaching_icon }}</a> |
    <a href="#cv-awards">{{ site.data.icons.cv_awards_icons }}</a> |
    <a href="#cv-service">{{ site.data.icons.cv_service_icons }}</a>
  </div>
</div>

<!-- Actual CV content, organized by category. -->
<div class="container">

  <!-- Category - education -->
  <div class="row" id="cv-education">
    <div class="col">
      <h3>{{ site.data.icons.cv_edu_icon }} Education</h3>
      <ul>
        {% for edu in site.data.cv_education %}
          <li><p>
            {% if edu.institution %}
              <b>{{ edu.institution }}</b> {% if edu.location %} - {{ edu.location }} {% endif %} <br/>
            {% endif %}
            {% if edu.dates %} {{ edu.dates }} <br/> {% endif %}
            {% if edu.degree %} {{ edu.degree }} <br/> {% endif %}
            {% if edu.advisor %} Advisor: {{ edu.advisor }} <br/> {% endif %}
          </p></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Category - research -->
  <div class="row" id="cv-research">
    <div class="col">
      <h3>{{ site.data.icons.cv_research_icon }} Research Experience</h3>
      <ul>
        {% for exp in site.data.cv_research_experience %}
          <li><p>
              {% if exp.institution %}
                <b> {{ exp.institution }}</b> {% if exp.location %} - {{ exp.location }} {% endif %} <br/>
              {% endif %}
              {% if exp.position %}
                {{ exp.position }}{% if exp.advisors %}, advisor(s): {{ exp.advisors }} {% endif %}
                <br/>
              {% endif %}
              {% if exp.dates %} <i>{{ exp.dates }}</i> <br/> {% endif %}
              {% if exp.description %} {{ exp.description }} <br/> {% endif %}
          </p></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Category - publications -->
  <div class="row" id="cv-publications">
    <div class="col">
      <h3>{{ site.data.icons.cv_publications_icon }} Publications</h3>
        <!-- List publications with a lovely parameterized include. -->
        {% include list_publications.html header_level="5" %}
    </div>
  </div>

  <!-- Category - presentations (posters and talks) -->
  <div class="row" id="cv-presentations">
    <div class="col">
      <h3>{{ site.data.icons.cv_presentations_icons }} Presentations</h3>
        <h5>Talks</h5>
        <ul>
          {% assign presentations_sorted = site.data.cv_presentations| sort: 'year' | reverse %}
          {% for pres in presentations_sorted %}
            {% if pres.type == "talk" %}
              <li><p>
                <b>{{ pres.title }}</b><br/>
                {% if pres.authors %}<i>By {{ pres.authors }}</i> <br/> {% endif %}
                Presented at {{ pres.venue }}.
                {{ pres.date }}.
                {{ pres.location }}.
                {% if pres.abstract_pdf %} <a href="{{ pres.abstract_pdf | relative_url }}"> Abstract</a>. {% endif %}
                {% if pres.slides_link %} <a href="{{ pres.slides_link }}">Slides</a>. {% endif %}
              </p></li>
            {% endif %}
          {% endfor %}
        </ul>
        <h5>Posters</h5>
        <ul>
          {% assign presentations_sorted = site.data.cv_presentations| sort: 'year' | reverse %}
          {% for pres in presentations_sorted %}
            {% if pres.type == "poster" %}
              <li><p>
                <b>{{ pres.title }}</b><br/>
                {% if pres.authors %}<i>By {{ pres.authors }}</i> <br/> {% endif %}
                Presented at {{ pres.venue }}.
                {{ pres.date }}.
                {{ pres.location }}.
                {% if pres.poster_link %} <a href="{{ pres.poster_link }}">Poster</a>. {% endif %}
              </p></li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
  </div>

  <!-- Category - workshops -->
  <div class="row" id="cv-workshops">
      <div class="col">
        <h3>{{ site.data.icons.cv_workshop_icon }} Workshops</h3>
        <ul>
          {% for workshop in site.data.cv_workshops %}
          <li><p>
            <b>{{ workshop.workshop }}</b> - {{ workshop.date }} <br/>
            <i>{{ workshop.for }}</i> <br/>
            {% if workshop.description %} {{ workshop.description }} {% endif %}
          </p></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  <!-- Category - teaching -->
  <div class="row" id="cv-teaching">
    <div class="col">
      <h3>{{ site.data.icons.cv_teaching_icon }} Teaching Experience</h3>
      <ul>
        {% for teaching_exp in site.data.cv_teaching %}
        <li>
          <b>{{ teaching_exp.exp }}</b> - {{ teaching_exp.date }} <br/>
          <i>{{ teaching_exp.for }}</i> <br/>
          {% if teaching_exp.description %} {{ teaching_exp.description | markdownify | remove: '<p>' | remove: '</p>' }} {% endif %}
          <p></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Category - awards/honors/fellowships -->
  <div class="row" id="cv-awards">
    <div class="col">
      <h3>{{ site.data.icons.cv_awards_icons }} Awards, Honors, and Fellowships</h3>
      {% assign awards_sorted = site.data.cv_awards| sort: 'year' | reverse %}
      <ul>
          {% for award in awards_sorted %}
            <li><p>
                <b>{{ award.award }}</b><br/>
                <i>{{ award.date }}</i><br/>
                {% if award.description %} {{ award.description }} {% endif %}
            </p></li>
          {% endfor %}
        </ul>
    </div>
  </div>

  <!-- Category - service/outreach -->
  <div class="row" id="cv-service">
    <div class="col">
      <h3>{{ site.data.icons.cv_service_icons }} Service and Outreach</h3>
      {% assign service_sorted = site.data.cv_service | sort: 'year' | reverse %}
      <ul>
          {% for service in service_sorted %}
            <li><p>
                <b> {{ service.service }}</b> <br/>
                {% if service.date %} <i>{{ service.date }}</i> <br/> {% endif %}
                {% if service.description %} {{ service.description }} {% endif %}
            </p></li>
          {% endfor %}
        </ul>
    </div>
  </div>

</div>
