---
layout: default
---

<!-- CV header and quick nav (via pretty icon links) -->
<div class="jumbotron jumbotron-fluid py-4">
  <div class="container">
    <h1 class="display-4">Curriculum Vitae</h1>
  </div>
</div>

    <!-- TODO - outreach -->

<!-- Actual CV content, organized by category. -->
<div class="container">

  <!-- Category - education -->
  <div class="row" id="cv-education">
    <div class="col">
      <h3>{{ site.data.icons.cv_edu_icon }} Education</h3>
      <ul>
        {% for edu in site.data.cv_education %}
          <li><p>
            {% if edu.degree %}
              {{ edu.degree }} ({% if edu.dates %}{{ edu.dates }}{% endif %}) <br/>
            {% endif %}
            {% if edu.institution %}
              {{ edu.institution }}{% if edu.location %}, {{ edu.location }} {% endif %} <br/>
            {% endif %}
            {% if edu.thesis %} Thesis: {{ edu.thesis }} <br/> {% endif %}
            {% if edu.advisor %} Advisor: {{ edu.advisor }} <br/> {% endif %}
          </p></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Category - professional appointments -->
  <div class="row" id="cv-professional-appointments">
    <div class="col">
      <h3>{{ site.data.icons.cv_professional_appointments_icon }} Professional Appointments</h3>
      <ul>
        {% for exp in site.data.cv_professional_appointments %}
          <li><p>
              {% if exp.institution %}
                {{ exp.institution }} {% if exp.location %} - {{ exp.location }} {% endif %} <br/>
              {% endif %}
              {% if exp.position %}
                {{ exp.position }}{% if exp.advisors %}, advisor(s): {{ exp.advisors }} {% endif %}
                <br/>
              {% endif %}
              {% if exp.dates %} <i>{{ exp.dates }}</i> <br/> {% endif %}
              {% if exp.description %} {{ exp.description }} <br/> {% endif %}
          </p></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Category - publications -->
  <div class="row" id="cv-publications">
    <div class="col">
      <h3>{{ site.data.icons.cv_publications_icon }} Publications</h3>
      <h6 class="py-2" style="font-weight:normal;">
        &emsp; See <a href="{{ "/publications/" | relative_url }}">publications page</a>.
      </h6>
    </div>
  </div>

  <!-- Category - presentations (posters and talks) -->
  <div class="row" id="cv-presentations">
    <div class="col">
      <h3>{{ site.data.icons.cv_presentations_icon }} Presentations</h3>
        <h5>Talks</h5>
        <ul>
          {% assign presentations_sorted = site.data.cv_presentations| sort: 'year' | reverse %}
          {% for pres in presentations_sorted %}
            {% if pres.type == "talk" %}
              <li><p>
                <b>{{ pres.title }}</b><br/>
                {% if pres.authors %}<i>By {{ pres.authors }}</i> <br/> {% endif %}
                Presented at {{ pres.venue }}.
                {{ pres.date }}.
                {{ pres.location }}.
                {% if pres.abstract_pdf %} <a href="{{ pres.abstract_pdf | relative_url }}"> Abstract</a>. {% endif %}
                {% if pres.slides_link %} <a href="{{ pres.slides_link }}">Slides</a>. {% endif %}
              </p></li>
            {% endif %}
          {% endfor %}
        </ul>
        <h5>Posters</h5>
        <ul>
          {% assign presentations_sorted = site.data.cv_presentations| sort: 'year' | reverse %}
          {% for pres in presentations_sorted %}
            {% if pres.type == "poster" %}
              <li><p>
                <b>{{ pres.title }}</b><br/>
                {% if pres.authors %}<i>By {{ pres.authors }}</i> <br/> {% endif %}
                Presented at {{ pres.venue }}.
                {{ pres.date }}.
                {{ pres.location }}.
                {% if pres.poster_link %} <a href="{{ pres.poster_link }}">Poster</a>. {% endif %}
              </p></li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>
  </div>

  <!-- Category - workshops -->
  <div class="row" id="cv-workshops">
      <div class="col">
        <h3>{{ site.data.icons.cv_workshop_icon }} Workshops</h3>
        <ul>
          {% for workshop in site.data.cv_workshops %}
          <li><p>
            <b>{{ workshop.workshop }}</b> <br/>
            <i>{{ workshop.for }}</i> <br/>
            {% if workshop.date %} Date(s): {{ workshop.date }} <br/> {% endif %}
            {% if workshop.description %} {{ workshop.description }} {% endif %}
          </p></li>
          {% endfor %}
        </ul>
      </div>
    </div>

  <!-- Category - teaching -->
  <div class="row" id="cv-teaching">
    <div class="col">
      <h3>{{ site.data.icons.cv_teaching_icon }} Teaching Experience</h3>
      <ul>
        {% for teaching_exp in site.data.cv_teaching %}
        <li>
          <b>{{ teaching_exp.exp }}</b> - {{ teaching_exp.date }} <br/>
          {{ teaching_exp.for }} <br/>
          {% if teaching_exp.description %} {{ teaching_exp.description | markdownify | remove: '<p>' | remove: '</p>' }} {% endif %}
          <p></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Category - grants/fellowships -->
  <div class="row" id="cv-grants">
    <div class="col">
      <h3>{{ site.data.icons.cv_grants_icon }} Grants & Fellowships</h3>
      {% assign grants_sorted = site.data.cv_grants| sort: 'year' | reverse %}
      <ul>
          {% for grant in grants_sorted %}
            <li><p>
                <b>{{ grant.award }}</b> ({{ grant.year }}) <br/>
                {% if grant.description %} {{ grant.description }} {% endif %}
            </p></li>
          {% endfor %}
        </ul>
    </div>
  </div>

  <!-- Category - professional service -->
  <div class="row" id="cv-professional-service">
    <div class="col">
      <h3>{{ site.data.icons.cv_professional_service_icon }} Professional Service</h3>
      {% assign service_sorted = site.data.cv_professional_service | sort: 'year' | reverse %}
      <ul>
          {% for service in service_sorted %}
            <li><p>
                <b> {{ service.service }}</b> <br/>
                {% if service.date %} <i>{{ service.date }}</i> <br/> {% endif %}
                {% if service.description %} {{ service.description }} {% endif %}
            </p></li>
          {% endfor %}
          <li>
            <b>Reviewed for:</b>
            <ul>
              {% for entry in site.data.cv_reviewed_for %}
                <li>
                  {{ entry.venue }}
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
    </div>
  </div>

  <!-- Category - outreach -->
  <div class="row" id="cv-outreach">
    <div class="col">
      <h3>{{ site.data.icons.cv_outreach_icon }} Outreach</h3>
      {% assign outreach_sorted = site.data.cv_outreach | sort: 'year' | reverse %}
      <ul>
          {% for outreach in outreach_sorted %}
            <li><p>
                <b> {{ outreach.outreach }}</b> <br/>
                {% if outreach.date %} <i>{{ outreach.date }}</i> <br/> {% endif %}
                {% if outreach.description %} {{ outreach.description }} {% endif %}
            </p></li>
          {% endfor %}
        </ul>
    </div>
  </div>

</div>
