---
layout: default
---

<!-- Page header -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ page.title }}</h1>
    <div class="lead">
      {{ page.jumbo_txt | markdownify }}
    </div>
  </div>
</div>

<!-- Publication page content -->
<div class="container">

  <!-- This first row will contain a bit of explanatory text about how this page
       is organized and a table w/icon explanations. -->
  <div class="row">
    <!-- Context blurb -->
    <div class="col">
      <div class="card border-0">
        <div class="card-body">
          <h5 class="card-title">Context</h5>
          <div class="card-text">
            {{ page.overview | markdownify }}
          </div>
        </div>
      </div>
    </div>
    <!-- Icon definitions table -->
    <div class="col">
      <div class="card" id="iconography-table">
        <div class="card-body">
          <h5 class="card-title">Iconography</h5>
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Icon</th>
                <th scope="col">Publication venue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ site.data.icons.venue_journal_icon }}</th>
                <td>Journal publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_conference_icon }}</th>
                <td>Conference publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_workshop_icon }}</th>
                <td>Workshop publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_book_icon }}</th>
                <td>Book section/chapter</td>
              </tr>
            </tbody>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Icon</th>
                <th scope="col">Other information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ site.data.icons.pdf_icon }}</th>
                <td>Link to download pdf version of publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.bibtex_icon }}</th>
                <td>Link to BibTex citation</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.github_repository_icon }}</th>
                <td>Link to an associated GitHub repository</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.presentation_icon }}</th>
                <td>Link to an associated poster or slide deck</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- This next enumerates all publications listed in publications.yml by category. -->
  <div class="row">
    <div class="col">
      {% include list_publications.html header_level="2" %}
    </div>
  </div>

</div>